/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

/*
 * Body
 */

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-align: center;
}

#page-wrapper {
    background: url("../images/page.png") repeat-x scroll 0 0 transparent;
    overflow: hidden;
    padding-top: 3px;
}

#page {
    background-color: white;
    border-color: #DEDEDE;
    border-style: solid;
    border-width: 0 1px 1px;
    color: #4B4B57;
    padding: 10px;
    text-align: left;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
    margin: 0;
}

#skip-link a,
#skip-link a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
}

/*
 * Header
 */

#header {
    min-height: 90px;
    position: relative;
    text-align: center;
}

#logo {
    /* Wrapping link for logo */
    float: none;
    /* LTR */
    margin: 0;
    padding: 0;
    width: 320px;
}

#logo img {
    vertical-align: bottom;
    max-width: 480px;
    width: 100%;
}

#name-and-slogan {
    /* Wrapper for website name and slogan */
    float: left;
}

#site-name {
    /* The name of the website */
    margin: 0;
    font-size: 2em;
    line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
    color: #000;
    text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
    text-decoration: underline;
}

#site-slogan {
    /* The slogan (or tagline) of a website */
    margin: 0;
    font-size: 1em;
}

.region-top {
    float: none;
    height: 24px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.region-header {
    /* Wrapper for any blocks placed in the header region */
    clear: both;
    /* Clear the logo */
    padding-top: 0px;
    margin-bottom: 20px;
}

#header .block {
    margin-bottom: 10px;
}

/*
 * Main (container for everything else)
 */

#main {}

/*
 * Content
 */
.node-teaser {
    margin-bottom: 20px;
}

#content {
    font-size: 16px;
}

.region-highlighted {}

.breadcrumb {
    /* The path to the current page in the form of a list of links */
}

.breadcrumb ol {
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

tr.even {
    /* Some tables have rows marked even or odd. */
    /* background-color: #eee; */
    /* Drupal core uses a #eee background */
}

tr.odd {
    /* background-color: #eee; */
    /* Drupal core uses a #eee background */
}

div.messages {
    /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
    margin: 1.5em 0;
    /* Drupal core uses "6px 0" margin */
}

div.messages ul {
    margin-top: 0;
    margin-bottom: 0;
}

div.status {
    /* Normal priority messages */
    background-color: #ddffdd;
    border: 1px solid #53A653;
    padding: 5px;
    margin: 10px 0;
    background-image: none;
}

div.warning,
tr.warning {
    /* Medium priority messages */
    /* border: 1px solid #f0c020; */
    /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error {
    /* High priority messages. See also the .error declaration below. */
}

.error {
    /* Errors that are separate from div.messages status messages. */
    padding: 5px;
    margin: 10px 0;
    background-color: #ffcccc;
    border: 1px solid #D77;
    padding: 5px;
}

.warning {
    /* Warnings that are separate from div.messages status messages. */
    /* color: #e09010; */
    /* Drupal core uses a #e09010 background */
}

.tabs {
    /* See also the tabs.css file. */
}

.region-help {
    /* Help text on a page */
}

.more-help-link {
    /* Link to more help */
}

.region-content {
    /* Wrapper for the actual page content */
}

ul.inline {
    /* List of links generated by theme_links() */
    display: inline;
    padding: 0;
}

ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
    /* LTR */
}

span.field-label {
    /* The inline field label used by the Fences module */
    padding: 0 1em 0 0;
    /* LTR */
}

.feed-icon {
    /* The link to the RSS or Atom feed for the current list of content */
}

.more-link {
    /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {}

/*
 * Footer
 */

#footer {
    border-top: 1px solid #dedede;
    clear: both;
    margin-top: 20px;
    padding-top: 20px;
}

/*
 * Page bottom
 */

.region-bottom {
    /* Wrapper for any blocks placed in the page bottom region */
    background-image: url("../images/bottom.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    font-size: 10px;
    padding-top: 5px;
}

/*
 * Slideshow.
 */

.slideshow {
    display: block;
    height: 300px;
    overflow: hidden;
    width: 930px;
    position: relative;
    clear: both;
}

.slideshow .views-field-title {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: block;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    position: absolute;
    text-align: right;
    bottom: 22px;
    width: 910px;
}

.slideshow .views-field-title a {
    color: white;
}

.slideshow .views-field-body {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: block;
    font-size: 12px;
    height: 22px;
    padding: 0 10px;
    position: absolute;
    text-align: right;
    bottom: 0;
    width: 910px;
}

.slideshow .views-field-body p {
    margin: 0;
}

/*
 * Tags.
 */
.field-name-field-tags {
    background-color: #FBFBFC;
    border: 1px solid #EEEEEF;
    font-size: 14px;
    line-height: 30px;
    padding: 0 9px;
}

.field-name-field-tags .field-item {
    display: inline;
    margin-right: 5px;
}

.field-name-field-tags .field-item a {
    background-image: url("../images/tag.png");
    background-position: left 50%;
    background-repeat: no-repeat;
    margin-right: 8px;
    padding-left: 20px;
}