/**
 * @file
 * Views Styling
 */


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */

.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}

.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}

.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

.views-displays .secondary .open > a:hover {
  color: #333;
}

.views-displays .secondary .action-list li {
  margin: 0;
}

.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}

.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
.dent-olist.view-display-id-attachment_2 .views-field-field-images{
	float:left;
}

.dent-olist .field-label, .view-helper-views  .field-label{
	display:inline;
}
.dent-olist .view-content{
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 35px;
}

.dent-olist .view-content .ds-2col > .group-left, .view-helper-views .view-content .ds-2col > .group-left {
float: left;
width: 320px;
position:relative;
}

.dent-olist .views-field-field_rating{
position: absolute;
right: 20px;
bottom: 12px;
}
.attachment .dent-olist .views-field-field_rating{
position: relative;
right: 0;
bottom: 0;
}

.dent-olist .view-content .ds-2col > .group-right{
float: left;
width: 620px;
}
.dent-olist .view-content .ds-2col > .group-right .views-field-title{
	font-size:18px;
}

.attachment-after .dent-olist .view-content .ds-2col > .group-left {
float: left;
width: 220px;
}

.attachment-after .dent-olist .view-content .ds-2col > .group-right {
float: left;
width: 260px;
}

.attachment-after .dent-olist .view-content .ds-2col > .group-right .views-field-title{
	font-size:14px;
}

.dent-olist .views-field-field_images img{
border: 1px solid #e2e2e2;
background-color: #fff;
padding: 5px;
}
.dent-olist img:hover {
background: #FFFFBF !important;
border: 1px solid #fff;
}
.dent-olist .views-row {
	margin-bottom:15px;
}

.dent-olist .views-row:hover {
	background: #fff !important;
}

.dent-olist  .views-field-field_images a{
	line-height:0px;
	display: block;
}